* {
    font-family: 'Lexend', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: #030007;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0 0 2rem 0;
}


/* Buttons *

/* Buttons large */

.button__primary__lg {
    background-color: #DDE316;
    color: #030007;
    padding: 16px 24px;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-decoration: none;
}

.button__primary__lg:hover {
    background-color: #F9FF55;
}


.button__secondary__lg {
    background-color: #dce31600;
    color: #DDE316;
    padding: 16px 24px;
    border: solid 2px #DDE316;
    border-radius: 500px;
    cursor: pointer;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-decoration: none;
}

.button__tertiary__lg {
    background: rgba(221, 227, 22, 0.08);
    color: #DDE316;
    padding: 16px 24px;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    backdrop-filter: blur(25px);
    text-decoration: none;
}

/* Buttons medium */

.button__primary__md {
    background-color: #DDE316;
    color: #030007;
    padding: 16px 24px;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-decoration: none;
}

.button__secondary__md {
    background-color: #dce31600;
    color: #DDE316;
    padding: 16px 24px;
    border: solid 2px #DDE316;
    border-radius: 500px;
    cursor: pointer;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-decoration: none;
}

.button__tertiary__md {
    background: rgba(221, 227, 22, 0.08);
    color: #DDE316;
    padding: 16px 24px;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    backdrop-filter: blur(25px);
    text-decoration: none;
}


/* Menu */

.menu {
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    position: fixed;
    box-sizing: border-box;
    padding: 2rem 3rem;
    z-index: 999;
}

/* Menu conteúdo dos links */

.menu__nav {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    background-color: none;
}

/* lista de links */

.menu__nav__item {
    list-style: none;
}

.menu__nav__item a {
    color: white;
    list-style: none;
    text-decoration: none;
}

.menu__nav__item a:hover {
    border-bottom: 2px solid #dde316;
    padding-bottom: 8px;
    transition: ease-out 100ms;
}

/* Item do menu que representa a página atual */
.page {
    border-bottom: 2px solid #DDE316;
    padding-bottom: 8px;
    color: #DDE316;
    list-style: none;
}



/* Banner principal Featured */
/* Foto da imagem principal */
.banner-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin-top: -50px;
}

.featured {
    border-radius: 32px;
    background: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(25px);
    display: flex;
    padding: 32px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    margin: -60% 64px 32px;
    z-index: -1;
}

.featured__content {
    display: flex;
    padding: 2rem;
    align-items: center;
    gap: 2rem;
}

.featured__title {
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.featured__title p {
    color: #DDE316;
    font-size: 1.5rem;
}

.featured__poster {
    border-radius: 16px;
    height: 300px;
    width: auto;
}

.featured__review {
    color: white;
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.featured__review p {
    border-right: 1px solid white;
    padding-right: 24px;
}


.section__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.quizz {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0rem 4rem;
    overflow: auto;
}

.quizz__movie {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border: 2px solid #DDE316;
    border-radius: 16px;
}

.quizz__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.quizz__content .button {
    display: flex;
}

.quizz__content h2 {
    font-size: 2rem;
}

.quizz__content p {
    font-size: 1.2rem;
    color: #DDE316;
}

.recommendation {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 0rem 4rem;
}

.recommendation__poster {
    border-radius: 16px;
}

.recommendation__poster:nth-child(n+9) {
    display: none;
}

.grid {
    display: grid;
    grid-template-areas:
        "diretores__destaque diretores__cover-1 diretores__cover-2 diretores__cover-3";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    align-items: center;
    margin: 0 4rem;
}

.diretores__destaque {
    grid-area: diretores__destaque;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 2rem;
}

.diretores__cover-1 {
    grid-area: diretores__cover-1;
}

.diretores__cover-2 {
    grid-area: diretores__cover-2;
}

.diretores__cover-3 {
    grid-area: diretores__cover-3;
}

.diretores__destaque__conteudo h2 {
    color: white;
    font-size: 2rem;
}

.diretores__destaque__conteudo p {
    color: #DDE316;
    font-size: 1.5rem;
}

.carousel-inner {
    border-radius: 2rem;
    max-height: 600px;
}

.carousel-inner img {
    object-fit: cover ;
}

.carousel-inner h5{
    font-size: 1.5rem;
}


.carousel-caption {
    position:absolute ;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2.5rem;
    color: #fff;
}

.fundo {
    position: absolute ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    pointer-events: none; 
  }

  .mainContainer{
    width: 60%;
    margin: auto;
  }

  .scoot{
    margin-top: -20%;
  }

  