* {
    font-family: Arial, Helvetica, sans-serif;
}
    
.body{
    background-color: black; 
    color: white;
}

.jogo{
    margin: auto;
    padding-top: 20vh;
    width: 900px;
}

.jogo__pergunta{
    font-size: 2rem;
}


.overide{
    max-height: 35vh; !important
}

.jogo__img{
    border-radius: 20px;
}

.jogo__opcao{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.jogo__opcao__escolha{
    padding: 5px 60px;
    border-radius: 50px;
    color: #dce316;
    background-color: #dce31670;
    vertical-align: middle;
}

p{
    margin: auto;
    padding-top: 15px;
    vertical-align: middle;
}

.jogo__opcao__escolha:hover{
    color: black;
    background-color: #dce316;
}

.counter{
    text-align:right;
}

.errada{
    background-color: red !important;
}

.errada:hover{
    background-color: red !important;
}

.certa{
    background-color: green !important;
}

.certa:hover{
    background-color: green !important;
}

