* {
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #030007;
  background-image: url(../img/filmes.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

/* Menu */

.menu {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  position: fixed;
  box-sizing: border-box;
  padding: 2rem 3rem;
  z-index: 999;
}

/* Menu conteúdo dos links */

.menu__nav {
  display: flex;
  gap: 32px;
  justify-content: flex-end;
  background-color: none;
}

/* lista de links */

.menu__nav__item {
  list-style: none;
}

.menu__nav__item a {
  color: white;
  list-style: none;
  text-decoration: none;
}

.menu__nav__item a:hover {
  border-bottom: 2px solid #dde316;
  padding-bottom: 8px;
  transition: ease-out 100ms;
}

/* Item do menu que representa a página atual */
.page {
  border-bottom: 2px solid #DDE316;
  padding-bottom: 8px;
  color: #DDE316;
  list-style: none;
}

.input_login {
  margin: auto;
  margin-top: 82px;
  width: 650px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(100px);
}

.flexbox {
  padding: 150px;
}

.input_box {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.input_box h1 {
  font-size: 50px;
  padding-bottom: 20px;
}

.inputs {
  width: 500px;
  height: 60px;
  border-radius: 30px;
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.7);
  background-color: #000;
  border: solid 1px;
  padding: 20px;
  margin-top: 15px;
  outline: none;
}

#submit {
  color: #030007;
  border-radius: 30px;
  border: none;
  margin-top: 50px;
  background-color:#dde316;
  font-size: 25px;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
}

#submit:hover {
  background-color: #F9FF55;
}

#submit:active {
  transform: scale(0.98);
}

.input_box h1 {
  color: #FFFFFF;
}