body {
    margin-left: 60px;
    background-color: #000;
}

p {
    color: #fff;
    font-size: 20px;
}

ul {
    margin-left: 1500px;
}

ul li {
    color: #fff;
    display: inline-block;
}

ul li a {
    color: #fff;
}

nav {
    display: inline-block;
    width: 100%;
}

h1 {
    color: #fff;
    font-size: 40px;
    margin: auto;
}

h3 {
    color: #DDE316;
}

.imagem {
    display: inline-block;
}

.data {
    color: #DDE316;
    margin-top: 0px;
}

#imagem1 {
    width: 250px;
}

#imagem2 {
    width: 657px;
    margin-left: 10px;
}

.ordem-dos-filmes_Titulo {
    display: inline-block;
}

.ordem-dos-filmes_Tabela {
    display: inline-block;
    color: #fff;
    margin-right: 550px;
    margin-bottom: 40px ;
}

.Lista-de-filmes {
    align-items: flex-start;
    display: flex;
}

.Lista-de-filmes_imagem-dos-filmes {
    width: 200px;
  margin-bottom: 30px;
}

.Lista-de-filmes_Titulo-dos-filmes {
    margin: 0;
}

.Lista-de-filmes_cabeçalho {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.Lista-de-filmes_cabeçalho_Estrela {width: 15px;
margin: 0;}