/* Filme */
* {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #030007;
}
.background {
    background-image: url(../img/cenas/mario-wallpaper.jpeg);
    background-position: center;
    background-size: 2000px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

*:focus {
    border-radius: 4px;
}

*:focus {
    box-shadow: 0px 0px 0px 2px #1C1B1F, 0px 0px 0px 4px #DDE316;
    outline: none;
}

nav {
    display: inline-block;
    width: 100%;
}

.menu {
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    position: fixed;
    box-sizing: border-box;
    padding: 2rem 3rem;
    z-index: 999;
}

.menu__nav {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    background-color: none;
}

.menu__nav__item {
    list-style: none;
}

.menu__nav__item a {
    color: white;
    list-style: none;
    text-decoration: none;
}

.menu__nav__item a:hover {
    border-bottom: 2px solid #dde316;
    padding-bottom: 8px;
    transition: ease-out 100ms;
}

.flexbox {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.flexbox__title h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 0;
}

.flexbox__title {
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
}

.flexbox__title p {
    color: #DDE316;
    font-size: 1.5rem;
    margin-top: 5px;
}

.flexbox__img {
    margin-top: 25px;
}
#img1 {
    width: 300px;
    border-radius: 20px;
}

#img2 {
    width: 786px;
    border-radius: 20px;
    margin-left: 25px;
}

.flexbox1 {
    display: flex;
    justify-content: center;
}

.flexbox1__container {
    width: 1100px;
}

.flexbox1__container p {
    color: white;
}

.flexbox1__container .container__descricao {
    font-size: 20px;
}

.container__direcao, .container__elenco, .container__roteiro, .container__descricao  {
    font-size: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    width: 860px;
    margin-bottom: 0px;
    margin-top: 0;
    padding: 10px 10px 10px 0px;
}

.info__container p span {
    color: #DDE316;
    font-size: 20px;
}

.tags {
    color: #DDE316;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.tags .tags__aventura, .tags__comedia, .tags__animacao{
    border-style: solid;
    border-color: #DDE316;
    border-radius: 30px;
    margin: 0;
    border-width: 2px;
    width: fit-content;
    padding: 15px;
    text-align: center;
}

.elenco_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -41rem;
    flex-direction: column;
}

.elenco__fotos {
    width: 100px;
    height: 125px;
    border-radius: 500px;
}

.menuzinho {
    border: solid #fff 1px;
    width: fit-content;
    text-align: center;
    float: right;
    margin-top: 82px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 0px #6B6F70,
    2px 2px 0px #6B6F70,
    3px 3px 0px #6B6F70,
    4px 4px 0px #6B6F70,
    5px 5px 0px #6B6F70,
    6px 6px 0px #6B6F70;
}

.menuzinho ul {
    list-style: none;
}

.menuzinho .review {
    color: #fff;
    font-size: 20px;
}

.review.um {
    margin-top: 22px;
    margin-bottom: 11px;
}

.menuzinho .onde_assistir {
    color: #DDE316;
}

.img_box {
    margin-top: 2rem;
    margin-left: 28rem;
}

.box_desc {
    width: 290px;
    display: inline-flex;
}

.box_desc p {
    color: #fff;
    padding: 35px 0px 20px 20px;
    font-size: 18px;
}

.box_desc span {
    color: #817F8A;
}

.box_desc img {
    float: left;
}

.onde_assistir a {
    color: #DDE316;
}