.Menu-favoritos {
    display: flex;
    flex-direction: column;
   margin-top: 30px;
   
  }
  .Menu-favoritos .Menu-favoritos_botoes {
    margin-bottom: 20px;
    
    }

    .Menu-favoritos .Menu-favoritos_botoes .Menu-favoritos_botoes_div-de-separação { 
    display: flex;
   flex-direction: row;
   border-top: 1px solid rgb(110, 110, 110); 
   padding-top: 20px;  
   margin-top: 20px;
   padding-bottom: 20px;
   gap: 350px;
   
  }
  .Menu-favoritos .Menu-favoritos_botoes  .Menu-favoritos_botoes_Titulo { margin-left: 40px;
    font-size: 40px;
}

.Menu-favoritos .Menu-favoritos_botoes .Menu-favoritos_botoes_submenu
   {
   
    border-top: 1px solid rgb(110, 110, 110); 
    padding-top: 20px;  
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    gap: 950px;
    border-bottom: 1px solid rgb(110, 110, 110); 
    display: flex;
    flex-direction: row;
}
  .Menu-favoritos .Menu-favoritos_botoes .Menu-favoritos_botoes_Titulo2 {
    margin: 0;}


    .Lista-de-filmes{
    align-items: flex-start;
    display: flex;
    border-right: 1px solid rgb(110, 110, 110);
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(110, 110, 110); 
}

.Lista-de-filmes .Lista-de-filmes_imagem-dos-filmes {
    width: 200px;
  margin-bottom: 30px;
  border:5px solid #ffffff;
  border-radius: 10%;
  box-shadow: 0 20px 20px rgba(221,227,22, 0.2);
}

.Lista-de-filmes .Lista-de-filmes_Titulo-dos-filmes {
    
    margin: 0;
    color: #DDE316;
    
}

.Lista-de-filmes .Lista-de-filmes_cabeçalho {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.Lista-de-filmes .Lista-de-filmes_cabeçalho .Lista-de-filmes_cabeçalho_Estrela {width: 15px;
margin: 0;
}